<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../static/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="../static/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../static/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="../static/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../static/assets/img/favicon.png">
    	<!-- Javascript -->
	<script src="../static/assets/vendor/jquery/jquery.min.js"></script>
	<script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../static/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="../static/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="../static/assets/scripts/klorofil-common.js"></script>

<body>
      <a href='/reg_html' ><button class="btn btn-primary" style="margin-top:30px;margin-left:100px;" >注册人脸库</button></a>
      <div style="margin-top:80px;margin-left:100px;" >
        <form method="POST" enctype="multipart/form-data" action='/api/face/html'  >
        <div class="form-group" >
             <label for="image" >点击上传图片
</label>
            <input class="form-control" type="file" id="image" name="image"  />
         </div>
        <button type='submit' class="btn btn-primary" >提交</button>
       </form>
    </div>
    <script>
    </script>
</body>
</html>
